<template>
    <div class="alert alert-danger" role="alert">
        <slot></slot>

        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</template>

<script>
    export default {
        name: "Alert",
        props: ['type']
    }
</script>

<style scoped>

</style>