<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Countries List Editor</div>
                    <div class="card-body">
                        <div class="row mb-2">
                            <div class="col-md-12">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Upload</span>
                                    </div>
                                    <div class="custom-file">
                                        <input @change="onFileChangedCallback" ref="file" type="file"
                                               class="custom-file-input" id="file-input">
                                        <label class="custom-file-label" for="file-input">
                                            {{ filename ? filename : 'Choose File' }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-2" v-if="error">
                            <div class="col-md-12">
                                <Alert type="danger">
                                    <strong>Error!</strong> {{ error }}
                                </Alert>
                            </div>
                        </div>
                        <ValidationObserver v-if="countries.length" ref="form">
                            <div class="row" v-for="(item, index) in countries">
                                <div class="col-md-5">
                                    <Input v-model="item.country" placeholder="Country name" label="Country"
                                           rules="required">
                                    </Input>
                                </div>
                                <div class="col-md-5">
                                    <Input v-model="item.capital" placeholder="Capital name" label="Capital"
                                           rules="required">
                                    </Input>
                                </div>
                                <div class="col-md-2 text-right">
                                    <button :class="{disabled: countries.length == 1, 'pull-right': true}" type="button"
                                            @click="removeCountry(index)" class="btn btn-danger">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </div>
                            </div>

                            <button type="button" @click="addCountry" class="btn btn-primary">
                                Add a Country
                            </button>

                            <div class="btn-group">
                                <button @click.prevent="onFormSubmit('json')" class="btn btn-secondary" type="button">
                                    Download as JSON
                                </button>
                                <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" @click.prevent="onFormSubmit('xml')" href="#">Download as
                                        XML</a>
                                    <a class="dropdown-item" @click.prevent="onFormSubmit('csv')" href="#">Download as
                                        CSV</a>
                                </div>
                            </div>
                        </ValidationObserver>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {ValidationObserver} from 'vee-validate';
    import Alert from './Alert';
    import Input from './Input';

    export default {
        components: {
            Input,
            Alert,
            ValidationObserver,
        },
        data() {
            return {
                filename: '',
                error: '',
                countries: [],
                loading: false,
            }
        },
        mounted() {
            console.log('Component mounted.')
        },
        methods: {
            onFileChangedCallback: function () {
                let file = this.$refs.file.files[0];

                this.countries = [];
                this.error = '';
                this.filename = file ? file.name : '';

                if (file) {
                    this.parseFile(file);
                }
            },
            onFormSubmit: function (extension) {
                this.$refs.form.validate().then(success => {
                    if (success) {
                        this.generateFile(extension);
                    }
                })
            },

            parseFile: function (file) {
                let data = new FormData();
                data.append('file', file);
                return axios.post('/parse-list', data).then(response => {
                    this.countries = response.data
                }).catch(error => {
                    this.$refs.file.value = '';
                    this.error = error.response.data.message;

                    if (error.response.data.errors) {
                        this.error = this.error + ' ' + Object.values(error.response.data.errors).join(' ');
                    }
                })
            },
            generateFile: function (extension) {
                let url = '/generate-file?' + jQuery.param({
                    extension,
                    filename: this.filename,
                    countries: this.countries
                });

                window.open(url, '_blank');
            },
            addCountry: function () {
                this.countries.push({country: '', capital: ''});
            },
            removeCountry: function (index) {
                if (this.countries.length == 1) {
                    return;
                }
                this.countries.splice(index, 1);
            }
        }
    }
</script>
