<template>
    <ValidationProvider :rules="rules" v-slot="{ errors }">
        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <span :class="{'input-group-text': true, 'text-danger': errors.length}"
                      :id="id + '-country-label'">{{ label }}
                </span>
            </div>
            <input :name="label" type="text" :value="value" :class="{'form-control': true, 'is-invalid': errors.length}"
                   @input="onInput"
                   :placeholder="placeholder"
                   :aria-describedby="id + '-country-label'">
        </div>
        <small class="text-danger">{{ errors[0] }}</small>

    </ValidationProvider>
</template>

<script>
    import {ValidationProvider} from 'vee-validate';

    export default {
        name: 'Input',
        data() {
            return {
                id: ''
            }
        },
        props: ['value', 'label', 'placeholder', 'rules'],
        components: {
            ValidationProvider,
        },
        methods: {
            onInput: function (event) {
                this.$emit('input', event.target.value)
            }
        },
        mounted() {
            this.id = this._uid
        }
    }
</script>

<style scoped>

</style>